<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Viability Assessment (formal)</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="viability_assessment_formal">
<meta name="uma.presentationName" content="Viability Assessment (formal)">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_dS3ksDfBEdyjZfPoe205xw"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_dS3ksDfBEdyjZfPoe205xw"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Viability Assessment (formal)</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">This template can be used as a basis for any kind of viability assessment (e.g. formal or informal, part of a QA review or ad-hoc etc).</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../core.tech.common.extend-ibm_lic/workproducts/viability_assessment_5EE7A3B5.html" guid="mweb25893FBE05A65D6E852568850063E2A4">Viability Assessment</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><p>
    <strong>1.&#160;Approach</strong><br />
    Describe the approach that was taken to performing the viability assessment together with any other background
    information. This includes items such as:
</p>
<ul>
    <li>
        Date and location of the review
    </li>
    <li>
        Context of the assessment (part of a QA, by invitation from the client etc)
    </li>
    <li>
        Formal vs. informal
    </li>
    <li>
        What individuals, groups, departments were interviewed
    </li>
    <li>
        What phase the assessment was performed in
    </li>
    <li>
        What documentation was provided for the assessment
    </li>
</ul>
<p>
    <strong>2.&#160;General Findings and Recommendations</strong><br />
    This section summarizes the assessment's major findings and recommendations.&#160; Documentation should be brief and
    actionable, with responsibilities to carry forward recommendations clearly defined.&#160; A table or a
    header/sub-header organization can be used to present this information. For example:
</p>
<table bordercolor="#000000" cellspacing="0" cellpadding="0" border="1">
    <tbody>
        <tr bgcolor="#CCCCCC">
            <td valign="top" width="174">
                <p>
                    <strong>Risk Area:</strong>
                </p>
            </td>
            <td valign="top" width="163">
                <br align="center" />
                <br />
            </td>
            <td valign="top" width="72">
                <br align="center" />
                <br />
            </td>
            <td valign="top" width="192">
                <br align="center" />
                <br />
            </td>
        </tr>
        <tr>
            <td valign="top" width="174">
                <p align="center">
                    <strong>Finding</strong>
                </p>
            </td>
            <td valign="top" width="163">
                <p align="center">
                    <strong>Risk</strong>
                </p>
            </td>
            <td valign="top" width="72">
                <p align="center">
                    <strong>Impact</strong>
                </p>
            </td>
            <td valign="top" width="192">
                <p align="center">
                    <strong>Recommendation(s)</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="174">
                <p>
                    Describe the finding
                </p>
            </td>
            <td valign="top" width="163">
                <p>
                    Describe the risk associated with this finding
                </p>
            </td>
            <td valign="top" width="72">
                <p>
                    High/ Medium/ Low or as a %
                </p>
            </td>
            <td valign="top" width="192">
                <p>
                    •&#160;
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="174">
                <p align="center">
                    <strong>Effort/Cost</strong>
                </p>
            </td>
            <td valign="top" width="163">
                <p align="center">
                    <strong>Person Responsible</strong>
                </p>
            </td>
            <td valign="top" width="72">
                <p align="center">
                    <strong>Due Date</strong>
                </p>
            </td>
            <td valign="top" width="192">
                <p align="center">
                    <strong>Status/follow-up</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="174">
                <p>
                    Estimated effort to address this finding
                </p>
            </td>
            <td valign="top" width="163">
                <p>
                    Who is responsible for addressing this finding
                </p>
            </td>
            <td valign="top" width="72">
                <p>
                    When needed by
                </p>
            </td>
            <td valign="top" width="192">
                <p>
                    What needs to be done to ensure this finding is addressed
                </p>
            </td>
        </tr>
    </tbody>
</table>
<p>
    <br />
    <strong>3.&#160;Risk Ranking Worksheet</strong>
</p>
<p>
    A risk ranking worksheet is a means to prioritize risks during a viability assessment.&#160; Not all risks are equally
    important.&#160; In the General Findings and Recommendations section, the architect will want to focus upon the high
    risk/high payback items, and leave reporting lower risks to an appendix or supplemental reading.<br />
</p><br />
<table bordercolor="#000000" cellspacing="0" cellpadding="0" border="1">
    <tbody>
        <tr bgcolor="#CCCCCC">
            <td valign="top" width="120">
                <p align="center">
                    <strong>Risk</strong>
                </p>
            </td>
            <td valign="top" width="120">
                <p align="center">
                    <strong>Probability</strong>
                </p>
            </td>
            <td valign="top" width="120">
                <p align="center">
                    <strong>Impact</strong>
                </p>
            </td>
            <td valign="top" width="120">
                <p align="center">
                    <strong>Weighted Risk</strong>
                </p>
            </td>
            <td valign="top" width="84">
                <p align="center">
                    <strong>Action Plan</strong>
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="120">
                <p>
                    State the risk
                </p>
            </td>
            <td valign="top" width="120">
                <p>
                    High/ Medium/Low or as a %
                </p>
            </td>
            <td valign="top" width="120">
                <p>
                    High/ Medium/Low or as a %
                </p>
            </td>
            <td valign="top" width="120">
                <p>
                    Weight the risk by combining Probability and Impact
                </p>
            </td>
            <td valign="top" width="84">
                <p>
                    Remove/ Accept/ Contain
                </p>
            </td>
        </tr>
        <tr>
            <td valign="top" width="120">
                <br />
                <br />
            </td>
            <td valign="top" width="120">
                <br />
                <br />
            </td>
            <td valign="top" width="120">
                <br />
                <br />
            </td>
            <td valign="top" width="120">
                <br />
                <br />
            </td>
            <td valign="top" width="84">
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td valign="top" width="120">
                <br />
                <br />
            </td>
            <td valign="top" width="120">
                <br />
                <br />
            </td>
            <td valign="top" width="120">
                <br />
                <br />
            </td>
            <td valign="top" width="120">
                <br />
                <br />
            </td>
            <td valign="top" width="84">
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td valign="top" width="120">
                <br />
                <br />
            </td>
            <td valign="top" width="120">
                <br />
                <br />
            </td>
            <td valign="top" width="120">
                <br />
                <br />
            </td>
            <td valign="top" width="120">
                <br />
                <br />
            </td>
            <td valign="top" width="84">
                <br />
                <br />
            </td>
        </tr>
    </tbody>
</table><br />
<p>
    Risks can be actioned in one of the following ways:
</p>
<ul>
    <li>
        Remove - Risk can be removed from the project by changing the solution's characteristics.&#160; For example, risk
        due to the use of an unproved development tool can be removed by substituting a proven tool.
    </li>
    <li>
        Accept - Risks can be accepted without a change to the architecture.
    </li>
    <li>
        Contain - Adding estimation contingency, mitigation tasks, excess capacity or other measures to reduce the
        probability of a risk occurring can contain risks.&#160; For example, risk due to geographically distributed
        development sites can be mitigated by developing a workroom, conducting standing joint meetings, etc. The risk,
        though, remains an inherent characteristic of the proposed solution.
    </li>
</ul>
<p>
    <br />
    <strong>4.&#160;Architecture Checklist</strong>
</p>
<p>
    Checklist or questionnaire should be created to structure and organize the viability assessment.&#160; This is used to
    uncover the major items that will be documented in the General Recommendations and Findings section.&#160; A suggested
    checklist is provided in the Validation and Verification section of this work product.
</p>
<p>
    <br />
    <strong>5.&#160;Recommendation for Next Review</strong>
</p>
<p>
    Document the anticipated date for the next review so that participants and project management can plan
    accordingly.&#160; The need for a follow-up review will depend upon the specification in the project's engagement
    template, the seriousness of the findings, and/or any external IBM QA policies. More Information.<br />
</p></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../core.tech.common.extend_supp-ibm/guidances/templates/resources/umf_viability_assessment.dot" target="_blank">umf_viability_assessment.dot</a>
</li>
<li>
<a href="./../../../core.tech.common.extend_supp-ibm/guidances/templates/resources/umf_viability_assessment.ott" target="_blank">umf_viability_assessment.ott</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<div id="discussionForum"></div>
<script src="./../../../scripts/ContentDiscussionForum.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/SocialIntegration.js" type="text/javascript" language="JavaScript"></script>
<link rel="stylesheet" type="text/css" href="./../../../css/methodweb/css/discussionforum.css">
<script type="text/javascript" language="JavaScript">
			setTimeout('contentDiscussionForum.init()',500);
			setTimeout('contentSBTForum.init()',500);
		</script>
<noscript>Please enable JavaScript to view the comments
			powered by Rational Team Concert.</noscript>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright"><p>
    &copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2016&nbsp;All Rights Reserved<br />
    Property of IBM<br />
    These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement
</p>
<p>
    <a class="elementLink" href="./../../../core.default.release_copyright.extend-ibm_int/guidances/supportingmaterials/ibm_terms_of_use_C4C1314D.html" guid="_hkZYEJ6uEeCDKsV-LdsJXQ">IBM Terms of Use</a>
</p></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
