<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Feedback: Feedback for WWPMM</title>
<meta content="SupportingMaterial" name="uma.type">
<meta content="Feedback for WWPMM" name="uma.name">
<meta content="Feedback for WWPMM" name="uma.presentationName">
<meta name="element_type" content="other">
<meta content="description" name="filetype">
<meta name="role" content="">
<link type="text/css" href="../../../css/default.css" rel="StyleSheet">

</head>
<body>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr>
<td valign="top"><a name="Top"></a>

<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
<td nowrap="true" class="pageTitle">Feedback for WWPMM</td><td width="100%">
</td>
</tr>
</table>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
<td class="pageTitleSeparator"><img height="1" title="" alt="" src="../../../images/shim.gif"></td>
</tr>
</table>
<div class="overview">
<table cellpadding="0" cellspacing="0" border="0" width="97%">
<tr>
<td width="50"><img title="" alt="" src="../../../images/supportingmaterial.gif"></td><td>
<table cellpadding="0" cellspacing="0" border="0" class="overviewTable">
<tr>
<td valign="top"><b>This page is for feedback regarding the WWPMM web site only.</b><p>Your comments and suggestions are very important to us. All feedback will be reviewed and evaluated in a timely manner and you will get a response from us.</p><p>In order to send feedback while browsing this web site, you need to configure your web browser to send email using a connection supported by the IBM network. <a href="feedback_inst.html">Instructions</a> for Netscape and MS Internet Explorer or higher are included.</p>
</td>
</table>
</td>
</tr>
</table>
	<ul>
	<li>Report a <a href="mailto:wwpmm@fr.ibm.com?subject=WWPMM web site - technical">technical issue or suggestion</a> about this Web site.<br><br></li>
	<li>Send feedback regarding the <a href="mailto:wwpmm@fr.ibm.com?Subject=WWPMM%20content">content</a> of this Web site without forgetting to attach the Product Change Request downloaded in the previous step.</li>

	</ul>
	
	</div>
</body>
<br><br /><br>
		<a href="wwpmm_terms_of_use.html" class="terms">Terms of use</a><br />
</html>
