<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" lang="en" xml:lang="en">
<head>
<META http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Template: Project Definition</title>
<meta name="uma.type" content="Template">
<meta name="uma.name" content="proj_definition">
<meta name="uma.presentationName" content="Project Definition">
<meta name="element_type" content="other">
<meta name="filetype" content="description">
<meta name="role" content="none">
<link rel="StyleSheet" href="./../../../css/default.css" type="text/css">
<script src="./../../../scripts/ContentPageResource.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageSubSection.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/ContentPageToolbar.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/contentPage.js" type="text/javascript" language="JavaScript"></script><script type="text/javascript" language="JavaScript">
					var backPath = './../../../';
					var imgPath = './../../../images/';
					var nodeInfo=[{view: "view:_NEaN8M6vEdy9E5kgF3Gy4g", path: ["_NEaN8M6vEdy9E5kgF3Gy4g", "_3yOygs7qEdyK2sqmpZ13Zg", "_WCR4Z8RdEdyD76CYS6Ta7A", "_lxyVMGCnEdyMOrpd4KFx9Q"]}];
					contentPage.preload(imgPath, backPath, nodeInfo,  '', false, false, false);
				</script>
</head>
<body>
<div id="breadcrumbs"></div>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td valign="top"><a name="Top"></a>
<div id="page-guid" value="_lxyVMGCnEdyMOrpd4KFx9Q"></div>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
<tr>
<td class="pageTitle" nowrap="true">Template: Project Definition</td><td width="100%">
<div align="right" id="contentPageToolbar"></div>
</td>
</tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td class="pageTitleSeparator"><img src="./../../../images/shim.gif" alt="" title="" height="1"></td>
</tr>
</table>
<div class="overview">
<table width="97%" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="50"><img src="./../../../images/template.gif" alt="" title=""></td><td>
<table class="overviewTable" border="0" cellspacing="0" cellpadding="0">
<tr>
<td valign="top">This template provides a document used to describe the shape of the project (objectives and scope, stakeholders and proposed organization, major risks).</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Relationships</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Related Elements</th><td class="sectionTableCell">
<ul>
<li>
<a href="./../../../core.mgmt.wwpmm.common.base-ibm_lic/workproducts/proj_definition_4B3100FE.html" guid="mweb160626331DE06601852568A900804F05">Project Definition</a>
</li>
</ul>
</td>
</tr>
</table>
</div>
<div class="sectionHeading">Main Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<td class="sectionTableSingleCell"><table width="100%">
    <tbody>
        <tr>
            <td width="97%">
                <table border="1" cellspacing="2" cellpadding="2" align="right">
                    <tbody>
                        <tr>
                            <td valign="top" width="30%" align="left">
                                <strong>Content</strong>
                            </td>
                            <td valign="top" width="70%" align="left">
                                <b>Comment</b>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                <b><i>Project identification</i></b>
                            </td>
                            <td valign="top" align="left">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Project / Sub-project
                            </td>
                            <td valign="top" align="left">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Project / Sub-project manager
                            </td>
                            <td valign="top" align="left">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                <b><i>Project objectives</i></b>
                            </td>
                            <td valign="top" align="left">
                                Based on the understanding of the project's objectives&nbsp;by the delivery organization,
                                describe the set of objectives the project must achieve.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                <b><i>Project background</i></b>
                            </td>
                            <td valign="top" align="left">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Business needs and environment
                            </td>
                            <td valign="top" align="left">
                                Description of the problem to be solved, and of the business areas under consideration.
                                (Market segments, competitive analysis, sponsor activities etc.)
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Project general scope and plan constraints
                            </td>
                            <td valign="top" align="left">
                                Identify the specific needs to be addressed and provide key dates and states.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Solution background
                            </td>
                            <td valign="top" align="left">
                                Provide a history of previous projects and solutions.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Key requirements
                            </td>
                            <td valign="top" align="left">
                                List the high-level requirements that the project must meet.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                <b><i>Target solution and overall approach</i></b>
                            </td>
                            <td valign="top" align="left">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                General presentation of the target solution
                            </td>
                            <td valign="top" align="left">
                                Describe how the project will solve the business need.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Major components and level of uncertainty
                            </td>
                            <td valign="top" align="left">
                                Provide a high-level breakdown of&nbsp;the major components of the solution. Include
                                information about the level of uncertainty and complexity of the solution.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Key options for the technical environment
                            </td>
                            <td valign="top" align="left">
                                If the project has special requirements regarding the technical environment then document
                                those key options that influence cost, schedule, and possibly formal&nbsp;agreements when
                                suppliers are involved.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Overall approach
                            </td>
                            <td valign="top" align="left">
                                Describe, at a high level, the way in which the project will deliver the solution.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                <b><i>Project scope</i></b>
                            </td>
                            <td valign="top" align="left">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Position within the overall approach
                            </td>
                            <td valign="top" align="left">
                                If necessary, position the project within the overall approach.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Scope
                            </td>
                            <td valign="top" align="left">
                                Identify the boundaries of the project.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Key points
                            </td>
                            <td valign="top" align="left">
                                Identify any key points that must be addressed in the formal agreement.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Major deliverables
                            </td>
                            <td valign="top" align="left">
                                Outline the major products or services that will be delivered.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Customer satisfaction criteria (Conditions of satisfaction)
                            </td>
                            <td valign="top" align="left">
                                Document any informal understanding of customer satisfaction issues that should be
                                transferred, if needed, from the team who shaped the project (before the formal agreement)
                                to the team who executes the project.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                <b><i>Planning framework</i></b>
                            </td>
                            <td valign="top" align="left">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                High-level project schedule
                            </td>
                            <td valign="top" align="left">
                                Provide a high-level project schedule for any projects or services and any sub-projects.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Brief description of each work unit
                            </td>
                            <td valign="top" align="left">
                                Break the project down into its major work units. (High-level work breakdown structure)
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Brief description of each sub-project
                            </td>
                            <td valign="top" align="left">
                                If necessary, for each sub-project provide a brief description.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Key assumptions and rough estimates
                            </td>
                            <td valign="top" align="left">
                                List the key assumptions which, if invalid, would make it necessary to revise the plan.
                                Estimate roughly the amount of effort and duration of each work unit.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Key dates and dependencies
                            </td>
                            <td valign="top" align="left">
                                List any key dates such as target dates for milestones. List any key dependencies.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Overall risks and risk response
                            </td>
                            <td valign="top" align="left">
                                List any risk factors associated with the project. Identify planned responses to these.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                <b><i>Organization</i></b>
                            </td>
                            <td valign="top" align="left">
                                &nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Project management
                            </td>
                            <td valign="top" align="left">
                                Provide information about the structure that will manage the execution of the project.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Sponsor organization
                            </td>
                            <td valign="top" align="left">
                                Provide information about the sponsor organization.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Delivery organization
                            </td>
                            <td valign="top" align="left">
                                Provide information about the delivery organization.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Performing organizations
                            </td>
                            <td valign="top" align="left">
                                Provide information about the performing organizations.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Initial organization breakdown structure (OBS)
                            </td>
                            <td valign="top" align="left">
                                Description of how the project will be organized into project organizational units.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Necessary skills (high-level HR plan)
                            </td>
                            <td valign="top" align="left">
                                Document any necessary skills that are required of project team members.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                Initial project decision structure
                            </td>
                            <td valign="top" align="left">
                                Provide an initial description of the Project Decision Structure.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                <b><i>Financial</i></b>
                            </td>
                            <td valign="top" align="left">
                                Costs, revenue and cash, as applicable.
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                <b><i>Appendix A -&nbsp;Scope defining activities plan</i></b>
                            </td>
                            <td valign="top" align="left">
                                For&nbsp;scope defining activities, create a plan that includes: 
                                <ul>
                                    <li>
                                        Objectives
                                    </li>
                                    <li>
                                        Organization
                                    </li>
                                    <li>
                                        Work products
                                    </li>
                                    <li>
                                        Milestones
                                    </li>
                                    <li>
                                        Schedule
                                    </li>
                                    <li>
                                        Management system
                                    </li>
                                    <li>
                                        Assumptions, dependencies, and risks
                                    </li>
                                    <li>
                                        Costs (if applicable)
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                <b><i>Appendix B - Project planning activities plan</i></b>
                            </td>
                            <td valign="top" align="left">
                                For project planning&nbsp;activities, create a plan that includes: 
                                <ul>
                                    <li>
                                        Objectives
                                    </li>
                                    <li>
                                        Organization
                                    </li>
                                    <li>
                                        Work products
                                    </li>
                                    <li>
                                        Milestones
                                    </li>
                                    <li>
                                        Schedule
                                    </li>
                                    <li>
                                        Management system
                                    </li>
                                    <li>
                                        Assumptions, dependencies, and risks
                                    </li>
                                    <li>
                                        Costs (if applicable)
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left">
                                <b><i>Appendix C - Initial project definitions</i></b>
                            </td>
                            <td valign="top" align="left">
                                If necessary, for each sub-project, or project within a program, provide initial Project
                                Definitions for each that includes: 
                                <ul>
                                    <li>
                                        Project name
                                    </li>
                                    <li>
                                        Project description
                                    </li>
                                    <li>
                                        Objectives
                                    </li>
                                    <li>
                                        Key milestones
                                    </li>
                                    <li>
                                        Major work units and associated work products
                                    </li>
                                    <li>
                                        Start and finish dates
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td width="3%">
                &nbsp;
            </td>
        </tr>
    </tbody>
</table><br />
<center>
    <font size="1">Attachments are V3.0</font>
</center></td>
</tr>
</table>
</div>
<div class="sectionHeading">Description</div>
<div class="sectionContent">
<table class="sectionTable" border="0" cellspacing="0" cellpadding="0">
<tr valign="top">
<th class="sectionTableHeading" scope="row">Attached Files</th><td class="sectionTableCell">
<UL>
<li>
<a href="./../../../core.mgmt.wwpmm.common.base-ibm_lic/guidances/templates/resources/proj_definition_a4.doc" target="_blank">proj_definition_a4.doc</a>
</li>
<li>
<a href="./../../../core.mgmt.wwpmm.common.base-ibm_lic/guidances/templates/resources/proj_definition_a4.odt" target="_blank">proj_definition_a4.odt</a>
</li>
<li>
<a href="./../../../core.mgmt.wwpmm.common.base-ibm_lic/guidances/templates/resources/proj_definition_us.doc" target="_blank">proj_definition_us.doc</a>
</li>
<li>
<a href="./../../../core.mgmt.wwpmm.common.base-ibm_lic/guidances/templates/resources/proj_definition_us.odt" target="_blank">proj_definition_us.odt</a>
</li>
</UL>
</td>
</tr>
</table>
</div>
<div id="discussionForum"></div>
<script src="./../../../scripts/ContentDiscussionForum.js" type="text/javascript" language="JavaScript"></script><script src="./../../../scripts/SocialIntegration.js" type="text/javascript" language="JavaScript"></script>
<link rel="stylesheet" type="text/css" href="./../../../css/methodweb/css/discussionforum.css">
<script type="text/javascript" language="JavaScript">
			setTimeout('contentDiscussionForum.init()',500);
			setTimeout('contentSBTForum.init()',500);
		</script>
<noscript>Please enable JavaScript to view the comments
			powered by Rational Team Concert.</noscript>
<table class="copyright" border="0" cellspacing="0" cellpadding="0">
<tr>
<td class="copyright"><p>
    &copy; &nbsp;Copyright IBM Corp.&nbsp;1987, 2016&nbsp;All Rights Reserved<br />
    Property of IBM<br />
    These&nbsp;materials are intended&nbsp;only for use as part of an IBM engagement
</p>
<p>
    <a class="elementLink" href="./../../../core.default.release_copyright.extend-ibm_int/guidances/supportingmaterials/ibm_terms_of_use_C4C1314D.html" guid="_hkZYEJ6uEeCDKsV-LdsJXQ">IBM Terms of Use</a>
</p></td>
</tr>
</table>
</td>
</tr>
</table>
</body>
<script type="text/javascript" language="JavaScript">
				contentPage.onload();
			</script>
</html>
