<link type="text/css" href="../../../css/default.css" rel="StyleSheet">
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr>
<td valign="top"><a name="Top"></a>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
<tr>
<td nowrap="true" class="pageTitle">Browser instructions</td><td width="100%">
</td>
</tr>
</table>
<table cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
<td class="pageTitleSeparator"><img height="1" title="" alt="" src="../../../images/shim.gif"></td>
</tr>
</table>
<div class="overview">
<table cellpadding="0" cellspacing="0" border="0" width="97%">
<tr>
<td>
<TABLE cellSpacing=0 cellPadding=3 width="100%" border=0>
				<TR>
					<TD vAlign=top align=left colSpan=2 height=231> 
						<P><b>Netscape Communicator 4.x:</b></P>
						<P>Netscape Messenger is the required email component of the Netscape Communicator package. If you have Netscape Navigator only, you will need to install Netscape Messenger.</P>

						<ol>
							<li>In the top menu bar of Netscape,        click <b>Edit</b>, then<b> Preferences</b></li>
							<li >Expand <b>Mail &amp; Newsgroups</b></li>
							<li >Select <b>Identity </b></li>

							<li >Using your Lotus Notes shortname,           fill in your email address (e.g., jdoe@us.ibm.com)</li>
							<li >On the left side, click <b>Mail Server<br></b>For Outgoing mail (SMTP) server enter a mail server as follows:<br><br>
If you are located in <b>Europe</b>, and served by the <b> United Kingdom</b> data center, your SMTP server name is <b>relay.uk.ibm.com</b>

<br><br>If you are located in <b>Europe</b>, and served by the <b> German</b> data center, your SMTP server name is <b>relay.de.ibm.com</b><br><br>If you are located anywhere else (e.g. US, Canada, AP, etc.), your SMTP server name is <b>relay.us.ibm.com<br></b><br></li>
							<li >Click <b>OK</b></li>
						</ol>

					<P>&nbsp;</P>
					<P><b>Netscape 6.x:</b></P>
					<P>Netscape Mail is the required email component of the Netscape 6.x package. If you have Netscape Navigator only, you will need to install Netscape Mail.</P>
						<ol>
							<li>In the top menu bar of Netscape,        click <b>Tasks</b>, then<b> Mail</b></li>

							<li>In the top menu bar click <b>Edit</b>, then <b>Mail/News Account Settings</b> </li>
							<li >Fill in the Identity section using your email address (e.g., jdoe@us.ibm.com)</li>
							<li >On the left side, click <b>Outgoing Server (SMTP)</b></li>
							<li>For Outgoing mail (SMTP) Settings enter a mail server as indicated above (Netscape 4.x instructions)</li>

							<li >Click <b>OK</b></li>
						</ol>
</TD>
					<TD vAlign=top width="1%" bgColor=#cccccc> </TD>
					<TD vAlign=top width="49%"> 
						<P><b>MS Internet Explorer 4.x or higher:</b></P>
						<ol>
							<li>In the top menu bar of MSIE click<b> Tools</b>, then<b> Internet Options</b></li>

							<li >Click the <b>Programs</b> tab</li>
							<li >Move to the <b>E-mail</b> window and click the down arrow to view options</li>
						</ol>
						<ul>
							<li>If Lotus Notes is an option, choose it</li>

							<li>Otherwise, select an e-mail program, then click <b>Apply</b> in the lower right corner of that dialog box</li>
						</ul>
						<ol start="4">
							<li >Click <b>OK</b></li>
						</ol>
					</td>

				</tr>
			</table>
</td>
</tr>
</table>
<br><br /><br>
		<a href="feedback.html" class="terms">Return to feedback</a><br />	
</div>
